<?xml version="1.0" encoding="utf-8"?>
<Content Key="00fa2dea-2b4a-438b-9863-6fedf0e5bfb0" Alias="Content" Level="2">
  <Info>
    <Parent Key="91ed3da7-f2d6-4eb1-9bc5-aaf084784d89">Home</Parent>
    <Path>/Home/Content</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-12-10T20:13:09</CreateDate>
    <NodeName Default="Content" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <test>
      <Value><![CDATA[tet]]></Value>
    </test>
    <toggle>
      <Value><![CDATA[0]]></Value>
    </toggle>
  </Properties>
</Content>