<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb2aa970-b4ef-430f-9d8d-810761701010" Alias="Content Page" Level="2">
  <Info>
    <Parent Key="2f27b5ad-fb39-4e01-a38d-ab7f9f5c211b">Home</Parent>
    <Path>/Home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-12-26T17:16:13</CreateDate>
    <NodeName Default="Content Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>