<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6c1a06e-c9d7-4466-bbe1-2c5db42f152a" Alias="Content Page" Level="2">
  <Info>
    <Parent Key="140ab411-7f19-4704-9025-d21825c05e04">Home</Parent>
    <Path>/Home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-12-26T17:19:36</CreateDate>
    <NodeName Default="Content Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>